<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h4 class = "ml-2 ml-3">서버에서 가져온 할일 리스트</h4>
  <ul class="list-group">
    <% for (var i = 0; i < posts.length; i ++){ %> 
    <li class="list-group-item">

      <p>글번호 : <%= posts[i]._id%></p>
      <h4>할일 제목 : <%= posts[i].title %></h4>
      <p>할일 마감 날짜 : <%= posts[i].date %></p>
      <button class = "delete" data-id="<%= posts[i]._id %>">삭제</button>
    </li>
    <% } %> 

  </ul>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <script>

    $('.delete').click(function(e){ //class 가 'delte 인 버튼에 요청을하면 (삭제 버튼을 누르면 아래 ajax 문법을 실행해라)'

      $.ajax({
      method : 'DELETE', 
      url : '/delete', //'요청할 경로'
      data : { _id : e.target.dataset.id } //'요청과 함께 보낼데이터' ex) 게시물번호
    }).done(function(result){ //.done 은 성공하면 다음을 실행해주세요.
       console.log(result);

    }); //jQuery 라이브러리 도움을 받아 ajax 쓴다.

    });

    /*$.ajax({
      method : 'DELETE', 
      url : '/delete', //'요청할 경로'
      data : { _id : 1 } //'요청과 함께 보낼데이터' ex) 게시물번호
    }).done(function(result){ //.done 은 성공하면 다음을 실행해주세요.
      

    }); //jQuery 라이브러리 도움을 받아 ajax 쓴다.*/

  </script>

  <!-- <% for (var i = 0; i < posts.length; i ++){ %> 
    <h4>할일 제목 : <%= posts[i].title %></h4>
    <p>할일 마감 날짜 : <%= posts[i].date %></p>
    <button>삭제</button>

  <% } %> -->

  
  
  <!-- <h4>할일 제목 : <%= posts[1].title %></h4>
  <p>할일 마감 날짜 : <%= posts[1].date %></p> -->




</body>
</html>